@import '../globals/typography.scss';
@import '../globals/colors.scss';

.view table {
  margin: 0 -23px;
}

table{
  border-collapse: collapse;
  border:0;
  thead {
    border-bottom: 1px solid $color__default_brighter;    
  }
  td, th{
    /*height:50px;*/
    border:0;
    text-align: left;
    padding: 6px 10px;
    vertical-align: middle;
    &:first-child{
      padding-left:0px;
    }
    &:last-child {
      padding-right:0px;
    }
    &.clickable {
      cursor: pointer;
    }
  }
  th {
    @include font__topline;
    color: $color__default-medium;
    text-transform: uppercase;
    &.sort::after{
      opacity: 0.5;
      content: '';
      background-image: url('./assets/images/svg/mini-arrow-up.svg');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% auto;
      display: inline-block;
      margin-left:7px;
      width:8px;
      height:7px;
    }
    &.sort.sorting::after{
      opacity: 1;
    }
    &.sort.sorting.desc::after{
      background-image: url('./assets/images/svg/mini-arrow-down.svg');
    }
    &.sort{
      cursor: pointer;
      &:hover{
        color: $color__default-dark;
        &.sort::after{
          opacity: 1;
        }
      }
    }
  }
  td {
    @include font__ui-small;
    color: $color__default-medium;
    &>strong {
      @include font__ui;
      font-weight: 700;
    }
  }
  .even {
    background-color: $color__default-max-brightness;
  }
  tbody tr:hover {
    background-color: $color__default-brightest;
  }
}

h3.tablehead {
  padding: 15px 0;
}