$color__accent-dark: #123AA3;
$color__accent: #1A56F0;
$color__accent-medium: #6993FF;
$color__accent-bright: #b6c8f8;
$color__accent-brightest: #DBE5FF;
$color__default-dark: #22232F;
$color__default-medium: #4F5161;
$color__default-bright: #818394;
$color__default-brighter: #D8D9E3;
$color__default-brightest: #F0F1F7;
$color__white: #FFFFFF;
$color__warning-dark: #CE5521;
$color__warning: #FD6C2E;
$color__warning-lightest: #FFDBCC;
$color__success-dark: #16985A;
$color__success: #29CE7F;
$color__success-lightest: #D3EBE0;
$color__tertiary-medium: #A728FE;
$color__tertiary-dark: #3D1D81;
$color__tertiary-bright: #EBE2FF;
$color__accent-max-brightness: #F3F7FF;
$color__default-max-brightness: #F8F8FB;